.App{
    text-align: center;
}
*{
    
    text-decoration: none;
    list-style: none;
}

header{
    z-index: 1;
     position: fixed; 
    top: 0;
     width: 100%;
    display: flex;
     justify-content: space-around; 
    align-items: center;
    min-height: 10vh;
}

#img1{
    left : 0;
}
/* nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: cadetblue;
    color: white;
} */

 .nav-links{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
   
} 
li{
    color: white;
    text-decoration: none;
    list-style: none;

}

.text1{
    font-size: 40px;
    color: white;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.container {
    
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    top: 55%;
    margin-left: 60px ;
  }



  .division{
      margin-top: 0px;
      background-color : black;
      display: flex;
      color: white;
    padding: 30px;
    

  }
  .division div{
   padding: 30px;
}

.home{
    z-index: 1;
    top: 0;
     width: 100%;
    display: flex;
     justify-content: space-around; 
    align-items: center;
    min-height: 10vh;
    background-color: black;
}

#idb{
    margin-top: 15px;
    color: white;
    padding: 13px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: black ;
    border: 2px solid rgb(235, 231, 231) ;
    border-radius: 30px;
}

.div2{
    margin-top: 60px;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

}

.div3{
    background-color: black;
}

.div4{
    top: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    text-decoration: none; 

    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding: 30px;
}

.div4 img{

    padding: 20px;

    width : 300px;
    height : 375px;
}

.div4 img:hover{
    transform: scale(1.1);
}

.div4 div {
    

  list-style: none;
   
    padding: 20px;
   
}

.div5 {
    color: white;
    align-items: center;
    text-align: center;
    padding-top:20px;
    
    padding-bottom: 50px ;
    
    text-decoration: none;
  
}

.div5 p{
    color: white;
    text-decoration: none;
}

.div6{
    background-color: black;
    align-items: center;
    text-align: center;
}


.div7{

        -webkit-column-count: 3;
        
        -moz-column-count: 3;
        
        column-count: 3;
        
        -webkit-column-width: 33%;
        
        -moz-column-width: 33%;
        
        column-width: 33%;
        
        padding: 0 12px;

      
        
        
}
.div7 img {
    margin-top: 25px;

}


.div8 {
        
        -webkit-transition: all 350ms ease ;
        transition: all 350ms ease;
        cursor: pointer;
         margin-bottom: 12px;
         text-decoration: none;
        
       
}

.div8 img{
    width: 300px;
    height : 375px;
}

.div7 .div8:hover{ 
    filter: opacity(.8);
}

@media (max-width: 991px){

.div7{

-webkit-column-count: 2;

-moz-column-count: 2;

column-count: 2;

}

}

@media (max-width: 480px){

.div7{

-webkit-column-count: 1;

-moz-column-count: 1;

column-count: 1;

-webkit-column-width: 100% ;

-moz-column-width: 100%;

column-width: 100%;

}

}


.class3 {
    align-items: center;
    text-align: center;
    background-color: black;
    
    filter: grayscale(100%);
}

.class3 img {

    height: 35px;
    width : 35px;
}

.text2{
    margin-top: 50px;
    text-align: center;
    color: white;
}


.div10{
    width: 100%;
}

.bg-holder{
background-image:url(assets/img/gallery/header-bg.png);
background-position:center;
background-size:cover;

}

.div10{
background-color:black;
}

.list-unstyled {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.text-decoration-none{ 
    align-items: center;
    text-align: center;
    justify-content: center;
}


.navbar-brand img{

    height: 160px;
    width: 270px;
}

@media (max-width: 900px){

    .navbar-brand img {
    
    height: 120;
    width: 205px;
    
    }
    
    }

    @media (max-width: 700px){

        .navbar-brand img {
        top: 0px;
        height: 80;
        width: 140px;
    
        
        }       
        }

.text5{
    align-items: center;
    text-align: center;
    justify-content: center;
}
    
.new-one{
    background-color: black;
}

.div11{
    background-color: black;
    width: 100%;
}

.text6{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;

}

@media (max-width: 900px){

    .home img {
    
    height: 121.6px;
    width: 216px;
    
    }
    
    }

    @media (max-width: 700px){

        .home img {
        top: 0px;
        height: 76px;
        width: 154.2px;
    
        
        }       
        }


        .home{
            background-color: black;
        }


        .text-center{
            align-items: center;
            text-align: center;
            justify-content: center;
            color: white;

        }

        .text1{
            font-family: 'Brush Script MT', cursive;
        }


        #archi img{

            width: 350px;
            height: 250px;
        }


        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          
          }
          
          .dropdown-content {
              right: 5px;
            display: none;
            position: absolute;
            background-color: #be3232;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          
        
          }
          
          .dropdown-content a {
            color:white;
            padding: 7px 16px;
            text-decoration: none;
            display: block;
           
           
          }
          
          .dropdown-content a:hover {background-color: #ac2d2d }
          
          .dropdown:hover .dropdown-content {
            display: block;
           
          }
          
          .dropdown:hover .dropbtn {
            background-color: #3e8e41;
          }